doctype html
html 

head
    title Pagina no encontrada
    link(rel="stylesheet", href="main.css")
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")

body
    h1 
        a(href="/") Regresar a los perros del mundo
    
    h2 No tenemos a la raza #{texto} en nuestra página