doctype html 
html
  head
    title #{raza}
    meta(charset="UTF-8")
    link(rel="stylesheet" href="perro.css")
    
  body
    main
      h1 #{raza}
      figure
        img(src=data.imagen width=600)
        figcaption #{data.texto}
      a(href="/") Regresar  